@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
    background-color: #9cacbf;
}

/* navbar */

header{
    background-color: #032e42 !important;
}
.navbar{
    background-color: #032e42 !important;
}
.nav-link{
    color: white !important;
}

main{
    margin-top: 20px;
}
/* inicio quienes somos */

.main_quienessomos{
    grid-area: main_quienessomos;
    background-image: url(../img/portada3.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: 95%;
    justify-content: center;
    display: flex;
    margin-bottom: 3rem;
}
.main_quienessomos h2{
    font-size: xx-large;
}
.main_quienessomos article{
    width: 60%;
    text-align: center;
    padding: 30px;
    margin: 30px;
    background-color: rgba(192, 202, 180, 0.65);
    font-weight: bold;
    font-size: larger;
}

/* fin quienes somos */

/* inicio servicios */

.main_servicios{
    justify-content: center !important;
}

.titulo_ns{
    text-align: center;
    padding: 1rem;
    color: white;
}

.serv{
    background-color: #2b6684 !important;
    color: white;
    border: double 5px #012e67;
}
.serv a{
    color: white !important;
}

/* fin servicios */

/*inicio destacadas */

.desta{
    background-color: #2b6684 !important;
    border: #012e67 double 2px !important;
    color: white !important;
}
.desta img:hover{
    transform: scale(1.1) !important;
    transition: all 0.7s !important;
}

/* fin destacadas */

/* inicio footer */

footer{
    background-color: #0a1417 !important;
    margin-top: 1.6rem;
    color: white;
}

footer .row{
    margin: 0 !important;
}

.horarios ul{
    list-style: none;
}
.datos{
    text-align: center;
}
.datos ul{
    list-style: none;
    padding-left: 0 !important;
}
.datos img{
    width: 1rem;
}
.redes{
    text-align: center;
}
.redes ul{
    list-style: none;
}
.redes img{
    width: 1rem;
}
/* fin footer */

/* propiedades */
.prop{
    margin-top: 1rem !important;
}

/* html ubicacion */

.tam{
    height: 100vh;
}

/* contacto */

.texto{
    grid-area: texto;
    width: 350px;
    justify-self: center;
    align-self: center;
    margin: 2rem;
}
#texto{
    margin: 1rem;
}
#datos ul{
    list-style: none;
}
#datos img{
    width: 1rem;
}